body{
    color: white;
    background: rgb(219, 173, 173);
}
header {
   border-bottom: solid 2px rgb(150, 0, 0);
   padding: 20px;
   font-size: 32px;
   color: rgb(150, 0, 0)
}

section {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}
.chamada-texto{
    margin-right: 5%; 
}